@keyframes menuItemPulse {
  0% {
    background-color: none;
  }
  50% {
    background-color: rgba(253, 57, 122, 0.3);
  }
  100% {
    background-color: none;
  }
}

@-webkit-keyframes menuItemPulse {
  0% {
    background-color: none;
  }
  50% {
    background-color: rgba(253, 57, 122, 0.3);
  }
  100% {
    background-color: none;
  }
}

@-moz-keyframes menuItemPulse {
  0% {
    background-color: none;
  }
  50% {
    background-color: rgba(253, 57, 122, 0.3);
  }
  100% {
    background-color: none;
  }
}

@keyframes TextFieldBorderPulse {
  0% {
    background-color: none;
  }
  50% {
    background-color: rgba(253, 57, 122, 0.3);
  }
  100% {
    background-color: none;
  }
}

@-webkit-keyframes TextFieldBorderPulse {
  0% {
    background-color: none;
  }
  50% {
    background-color: rgba(253, 57, 122, 0.3);
  }
  100% {
    background-color: none;
  }
}

@-moz-keyframes TextFieldBorderPulse {
  0% {
    background-color: none;
  }
  50% {
    background-color: rgba(253, 57, 122, 0.3);
  }
  100% {
    background-color: none;
  }
}
